<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connorlarson.onme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.connorlarson.onme.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.friends.DisplayFriendProfile"
            android:theme="@style/AppTheme.Popup"
            />
        <activity
            android:name=".RedeemModal"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".deleteFriendModal"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".deleteFavDrinkModal"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".deleteFavBarModal"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".UpdateUserProfile"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".AddFriend"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".AddFavDrink"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".AddFavBar"
            android:theme="@style/AppTheme.Popup" />
        <activity android:name=".SendDrinkPage" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKxHzUdDoLE66qwjb11DLQ0XOCo9SlutU" />

        <activity
            android:name=".LoginPage"
            android:label="@string/Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>